
.body_bg{
      background-color: #222d32;
}
    
#login_center{
      margin-top: 200px;
}
.panel-title.login_ht {
      text-align: center;
  }



  ul{
      list-style: none;
      padding: 0;
      margin: 0;
  }
  a:link,
  a:visited,
  a:hover,
  a:active,
  a{
      text-decoration: none;
  }


  /* 后台侧边栏 */
  .hh_aside{
      width: 180px;
      height: 100%;
      position: fixed;
      left: 0;
      top:0;
      background-color: #ccc;
      z-index: 99;
      transition: all 1s linear;
  }

  .hh_aside.hidemeun {
        left: -180px;
  }


  .hh_aside .brand{
        height: 50px;
        width: 100%;
        line-height: 50px;
        text-align: center;
        font-size: 25px;
        background-color: #222d32;
  }


  .hh_aside .brand a{
      color: #fff;
  }

/* vip用户管理 */
.hh_aside .user{
      padding-top: 30px;
      height: 180px;
}


  .hh_aside .user>img{
      width: 90px;
      height: 90px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
  }
  .hh_aside .user>p{
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        color: #000;
        text-align: center;
  }

  .hh_aside .nav a{
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding-left: 40px;
        color: #000;
        border-left: 3px solid  transparent;
  }

  .hh_aside .nav .child a{
        padding-left: 60px;
  }

  .hh_aside .nav a.current{
      background-color: #999;
      border-left: 3px solid  #222d32;
}



/* 右侧主题内容开始 */
.hh_mian{
      padding-left: 180px;
      height: 1000px;
      padding-top: 50px;
      transition: all 1s linear;
}

.hh_mian.hidemeun{
      padding-left: 0px;
}



.hh_topbar{
      height: 50px;
      background-color: #222d32;
      position: fixed;
      width: 100%;
      left: 0;
      top:0;
      padding-left: 180px;
      transition: all 1s linear;
}

.hh_topbar.hidemeun{
      padding-left: 0;
}

.hh_topbar a{
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: #fff;
      font-size: 18px;
}

.mt_20{
      margin-top: 20px;
}

/* echearts部分 */
.echarts_1,
.echarts_2{
      width: 48%;
      height: 400px;
      margin-top: 100px;
     
}



/* user 页面表格 */
table th,
table td{
       text-align: center; /*水平居中 */
       vertical-align: middle!important;/* 表格垂直居中 */

}


/* 鼠标选题 时表格的hover */
.table-hover > tbody > tr:hover {
      background-color: #ccc;
  }